header h1{
  background-color: #4A6BA1;
  height: 50px;
  color: aliceblue;
  margin: 0px;
}

.App {
  text-align: center;
}

.counter p{
  background-color: #333333;
  color: aliceblue;
  font-size: 50px;
}

.bt{
  font-size: 30px;
}

